button{
    margin-top:1.5vw;
    background-color: #000;
    color: #fff;
    border: none;
    width: 12vw;
    height:3vw;
    font-family: 'Kaisei Tokumin', serif;
    cursor: pointer;
    border-radius: 5px;
}
.header h1 {
    text-align: center;
    margin: 0 0 0 33vw;
}