*{
    margin: 0;
}

.body {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
}

#deck_display {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

#available_cards_display {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 12vw); /* Ajuste o tamanho mínimo conforme necessário */
    grid-template-rows: repeat(4,18vw);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.card {
    width: 150px;
    height: 240px;
    padding: 0 5px 0  5px;
    background-color: #fff;
    position: relative;
    perspective: 1000px; /* Profundidade de visualização para o efeito de perspectiva */
    transform-style: preserve-3d; /* Manter a consistência 3D do efeito de perspectiva */
    transition: transform 0.6s ease; /* Adicionar transição suave */
    text-align: center;
    cursor: pointer; /* Adicionar um cursor de ponteiro para indicar que é clicável */
}

.card-front,
.card-back {
    width: 150px;
    height: 240px;
    padding: 0 5px 0  5px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; /* Esconder a face traseira inicialmente */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar o card */
}

.card-front {
    transform: rotateY(0deg);

}

.card-back {
    transform: rotateY(180deg); /* Inicialmente virado para trás */
}

.card.flipped {
    transform: rotateY(180deg); /* Gira todo o card quando a classe 'flipped' é adicionada */
}

.card-back {
    background: linear-gradient(45deg, #990033, #b3003b, #cc0044, #e6004d, #ff0055);
    width: 150px;
    height: 240px;
    text-align: center;
    color: black;
}

.flip-button {
    background-color: #fdecee;
    width: auto;
    color: #000;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

h1{
    text-align: center;
}

h3{
    font-family: 'Kaisei Tokumin', serif;
}

p{
    font-family: Roboto, sans-serif;

}

#deck_display img, #available_cards_display img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
}

