body{
    background: rgb(255,185,196);
    background: linear-gradient(0deg, rgba(255,185,196,1) 0%, rgba(255,225,236,1) 100%);
    background-attachment: fixed;
    text-align: center;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center; /* Alinhar verticalmente ao centro */
}

.header img {
    margin-right: 10px; /* Espaço entre a imagem e o título */
}

.header h1 {
    text-align: center;
    margin: 0 0 0 35vw;
}


.button{
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 10vw;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-color: #fff;
    cursor: pointer;

}

.button img{
    margin-top: 1vw;
}

.button button{
    margin-top:1.5vw;
    background-color: #000;
    color: #fff;
    border: none;
    width: 10vw;
    height:3vw;
    font-family: 'Kaisei Tokumin', serif;
    cursor: pointer;
}

.buttons{
    margin-top:20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1{
    font-family: 'Kaisei Tokumin', serif;
}