*{
    margin: 0;
}

body{
    background-image: url("/imagens/blurry-gradient-haikei.svg");
    background-size: cover;
}


.body{
    margin-top:5vw;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    color: #ff3131;
    text-align: center;

}

img{
    width: 30vw;
}

h1{
    font-family: 'Kaisei Tokumin', serif;

}

h3{
    margin-top: 1vw;
    font-family: 'Roboto', sans-serif;

}

button{
    border: none;
    background-color: #fff;
    padding: 0.5vw 1vw ;
    border-radius: 5px;
    margin-top: 1vw;
    font-family: 'Kaisei Tokumin', serif;

}